:root {
  --Cyan: hsl(179, 62%, 43%);
  --BrightYellow: hsl(71, 73%, 54%);
  --LightGray: hsl(204, 43%, 93%);
  --GrayishBlue: hsl(218, 22%, 67%);
}

body {
  font-family: 'Karla', sans-serif;
  font-size: 16px;
  background-color: var(--LightGray);
}

button {
  width: 100%;
  background-color: var(--BrightYellow);
  padding: 15px 40px;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 10px;
}

button:hover {
  background-color: var(--LightGray);
  color: var(--Cyan);
}

p {
  color: var(--LightGray);
  line-height: 1.75;
}

.single-price-grid-component {
  color: var(--LightGray);
  margin: 0 auto;
  border-radius: 50px;
  padding: 30px;
}

.join, .subscription, .whyUs {
  padding: 25px 40px 25px 40px;
}

.join {
  background-color: #fff;
}

.join h1 {
  color: var(--Cyan);
  font-size: 25px;
}

.join h3 {
  color: var(--BrightYellow);
  font-size: 15px;
}

.join p {
  color: var(--GrayishBlue);
  line-height: 1.5;
}

.subscription {
  background-color: var(--Cyan);
}

.whyUs {
  background-color: #0DC2BE8C;
}
.divs{
  padding: 0 0 5px 0
}

@media screen and (min-width: 375px) {
  .flex {
    display: flex;
  }
  .subscription {
    width: 50%;
    margin: 0 auto;
  }

  button {
    margin-top: 20px;
  }

  .whyUs {
    width: 50%;
    margin: 0 auto;
  }
}
